extends layout

block content
  h1(class='item-heading')= title
  div(class='item-detail')
    p Quantity: #{item.qty} 
    p Price: #{item.price}
    p Category: 
      a(href=selectedCategory.url) #{selectedCategory.name}
    img(src=item.image)
    hr
    div(class='action-button')
      a(class='update', href=item.url+'/update/' ) Update Item
      a(class='delete', href=item.url+'/delete/' ) Delete Item
    
